.launch-container {
  display: flex;
  flex-direction: row;

  .clues-container {
    border: $border-strong;
    background-color: $grey-control;
    .clue {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: white;
      border: $border-light;
      padding: 10px;
      margin: 20px;

      .clue-infos {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px;
      }
    }
  }
}