//colors
$grey-control: #F2F1EF;
$primary: #AB410D;
$secondary: #DCAB5E;

//borders
$border-light: 1px solid #DCAB5E;
$border-strong: 1px solid #AB410D;
$border-black: 1px solid #000000;

//sizes
$desktop-width: 1080px;
