.launch-container {
  display: flex;
  width: 20%;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;

  .clues-container {
    display: flex;
    flex-direction: column;
    border: $border-strong;
    background-color: $grey-control;
    flex-grow: 1;
    &.hide {
      flex-grow: unset;
    }
    .clue {
      &.hide {
        display: none;
      }
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: white;
      border: $border-light;
      padding: 10px;
      margin: 20px;

      .clue-infos {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px;
      }
    }
  }
}

@media screen and (max-width: $desktop-width) {
    .launch-container {
      flex-direction: column;
      width: 100%;
      align-items: center;
      .clues-container {
        width: 75%;
        flex-grow: unset;
      }
    }
}