body {
  margin: 0;
  font-family: $font-stack;

  .page {
    height: 100vh;
    width: 100vw;
    background-color: $grey-control;
    display: flex;
    justify-content: center;

    .page-content {
      display: flex;
      width: 94%;

      .page-background {
        height: 100%;
        width: 100%;
        display: flex;
        background-size: 256px 108px;
        background-image: url("../img/wave.png");

        .form-content {
          display: flex;
          flex-direction: column;

          .form-group {
            margin-bottom: 1rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-bottom: 10px;
            border-bottom: $border-light;

            &.form-group:focus-within {
              border-bottom: $border-strong;
            }

            .form-label {
              margin-right: 10px;
            }

            .form-field {
              border: none;
              background-color: transparent;
              -webkit-box-shadow: none;
              -moz-box-shadow: none;
              box-shadow: none;
              flex-grow: 1;

              &.form-field:focus {
                outline: none !important;
              }
            }

          }
        }
      }
    }
  }

  .form-error {
    color: red;
    text-align: center;
    font-size: 10px;
  }

  .button-group {
    display: flex;
    flex-direction: row;

    .button {
      flex-grow: 1;

      &.primary {
        height: 50px;
        text-transform: uppercase;
        outline: none;
        border: none;
        background-color: $secondary;
        color: white;

        &.primary:focus {
          background-color: $primary;
        }

        &.primary:hover {
          background-color: $primary;
        }

        &.primary:disabled {
          color: #0f0f0f;
        }
      }

      &.secondary {
        margin-left: 20px;
        height: 50px;
        text-transform: uppercase;
        outline: none;
        border: none;
        background-color: $primary;
        color: white;
        margin-bottom: 20px;
        margin-right: 20px;

        &.secondary:focus {
          border: $border-black;
        }

        &.secondary:hover {
          border: $border-black;
        }

        &.secondary:disabled {
          color: #0f0f0f;
        }
      }
    }
  }

  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
    border: $border-light;
  }

  @media screen and (min-width: $desktop-width) {
    .page-content {
      width: 94%;
    }
  }

  @media screen and (max-width: $desktop-width) {
    .button-group {
      flex-direction: column;

      .button {
        &.primary {
          margin-right: unset;
        }

        &.secondary {
          margin-right: unset;
          margin-left: unset;
          margin-top: 20px;
        }
      }
    }
  }

  .modal {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    max-height: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
    right: 0;
    bottom: 0;
    border: $border-strong;
    background: #fff;
    borderRadius: 4px;
    padding: 20px;
    .preview {
      max-height: 100%;
      max-width: 100%;
    }

    &.fireworks {
      align-items: unset;
    }
  }
}
